@keyframes fade-in {
  0% {opacity: .1;}
  100% {opacity: 1;}
}

@keyframes zoom-open {
  0% {transform: scale(0.3, 0.3)}
  100% {transform: scale(1, 1)}
}

.App {
  /* background-image: linear-gradient(to top, #0e2347 20%, #030a16 100%); */
  height: 100vh;
  display: flex;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Lucida Grande", sans-serif;
  font-weight: 300;
  /* background-color: #060314; */
  /* animation: background-animation 18s infinite; */
  background-image: url(./assets/background.jpg);
  background-position: 50% 50%;
  background-size: cover;
}

.main-content {
  margin: 0 auto;
  margin-top: 10%;
  color: white;
  max-width: 80%;
  width: 600px;
  animation: fade-in 2s;
}

.modal {
  overflow: auto;
  max-height: 90vh;
  max-width: 90%;
  width: 600px;
  margin: 0 auto;
  margin-top: 5vh;
  background-color: rgba(27, 31, 34, .85);
  animation: zoom-open .8s;
  color: white;
}

.kz-devicon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 80px;
  padding: 10px 50px;
}

.kz-devicon-container * {
  margin: 10px;
}

.kz-devicon-container img {
  margin: 0;
  margin-bottom:30%;
}

.button-std {
  margin: 5px;
  border: solid 1px white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
}

.button-std:hover {
  color: #030a16;
  background: white;
}

.btn-close-modal {
  font-size: 1.5em;
  cursor: pointer;
}

ul {
  margin-top: 40px;
}

footer {
  position: fixed;
  bottom: 50px;
  margin: 0 auto;
  opacity: .5;
  font-size: .8em;
}

a {
  color: white;
  text-decoration-style: dotted;
}

a:hover {
  text-decoration: none;
}
